body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#info-box {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    z-index: 1000; /* Ensures it's on top of the map */
    max-width: 280px;
}

#info-box h4 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

#info-box p {
    margin-bottom: 10px;
    font-size: 0.9em;
}

#scenario-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#scenario-control label {
    margin-bottom: 5px;
    font-size: 0.9em;
    cursor: pointer;
}

.legend {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #555;
    opacity: 0.7;
}
